<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title th:text="${title}">About html</title>
</head>
<body>
	<section>


		<div class="container mt-5">

			<h1 class="text-center">About Smart Contact Manager</h1>

			<p class="lead text-center">Smart Contact Manager is a Simple
				Web-based Application designed to Manage your Persional Contacts in
				One Place</p>


			<div class="content">

				<p>

					This Project is builting using <strong>Spring Boot</strong>, <strong>Spring
						Security</strong>, <strong>Spring Data JPA</strong>, <strong>Thymeleaf</strong>.
					It allows users to register, login, and manage their contacts with
					ease. Each user gets a personal dashboard where they can:

				</p>

				<p>
				<ul>

					<li>Add, View, update, and delete contacts</li>
					<li>Store email, phone, and description for each contacts</li>
					<li>Use a secure login system with password encryption</li>

				</ul>

				<h3>
					<p>This Application is creating for a learning purpose using
						Spring Boot</p>
				</h3>

			</div>


		</div>

	</section>

</body>
</html>